{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block content %} <div
    class="px-4 py-5 my-5 text-center">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/static/images/banner-image.jpg" class="d-block mx-lg-auto img-fluid dashboard-image" alt="Bootstrap Themes"
                width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 site-title-home">Lincoln Fitness</h1> <h2 class="site-subtitle-home">Train with us! </h2>
            <figure>
                <blockquote class="blockquote">
                    <p class="lead">"Transform your body, unleash your potential: Join our gym today!"</p>
                </blockquote>
            </figure>
            <div class="d-grid gap-2 d-md-flex justify-content-center">
                <a href="{{ url_for('login') }}" class="btn btn-outline-primary btn-lg px-4">Portal Login</a>
            </div>
        </div>
    </div>
</div> {% endblock %}